[Desktop Entry]
Name=Phonon Studio
GenericName=Circuit Simulator & CAD Studio
Comment=Universal Multi-Scale Visual CAD Studio & Semiconductor Solver
Exec=/home/usr/.local/bin/phonon gui %F
Icon=/home/usr/Projects/aerovex/modules/phonon/assets/icons/phonon.png
Terminal=false
Type=Application
Categories=Development;Engineering;Science;Electronics;
MimeType=application/x-spice;text/x-spice;
StartupNotify=true
StartupWMClass=Phonon Studio
Keywords=spice;cad;circuit;simulator;tcad;semiconductor;quantum;phonon;
